<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #fcfcfc;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Order-ID</th>
            <th>Product-ID</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getOrderlineid()}"></td>
            <td th:text="${order.getOrderdetailid()}"></td>
            <td th:text="${order.getProductid()}"></td>
            <td th:text="${order.getQuantityamount()}"></td>
            <td th:text="${order.getStatus()}"></td>
            <td>
                <form action="sendpackage" method="post">
                <input type="hidden" name="id" th:value="${order.getOrderlineid()}">
                <button type="submit">Sent</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</body>
<form action="adminpage" method="get">
    <button type="submit">Back to page</button>
</form>